<div class="port-details-dialog">
    <div class="dialog-header">
        <h2>{{ data.name }}</h2>
        <button mat-button mat-dialog-close class="close-button">X</button>
    </div>

    <mat-divider></mat-divider>

    <div class="carousel-container" *ngIf="data.images">
        <owl-carousel-o [options]="carouselOptions">
            <ng-container *ngFor="let image of data.images; trackBy: trackByFunction">
                <ng-template carouselSlide [id]="image?.id">
                    <img [src]="image?.url" alt="Port Image" class="carousel-image" />
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>

    <mat-divider></mat-divider>

    <div class="port-details">
        <h3>Details</h3>
        <p><strong>Description:</strong> {{ data.description }}</p>
        <p><strong>Type:</strong> {{ data.type }}</p>
        <p><strong>Country:</strong> {{ data.country }}</p>
        <p><strong>Coordinates:</strong> {{ data.lat }}, {{ data.lng }}</p>
        <p><strong>Operational Status:</strong> {{ data.status }}</p>
        <p><strong>Other Info:</strong> {{ data.otherInfo }}</p>
    </div>

    <div class="open-secondary-dialog">
        <button mat-raised-button color="primary" (click)="openSecondaryDialog()">View More Details</button>
    </div>
</div>